.navbarContainer{
    height: 100px;
    display: flex;
    background-color: #f9fbfa;
    .wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .seachbar{
            display: flex;
            align-items: center;
            border: 1.5px solid rgba(145, 158, 171, 0.12);
            padding: 7px 10px;
            margin: 0 0 0 40px;
            border-radius: 15px;
            input{
                border: none;
                background-color: transparent;
                outline: none;
                &:focus{
                    transition: 0.35s ease;
                    &::-webkit-input-placeholder{
                            transition: opacity 0.45s ease; 
                            opacity: 0;
                    }
                }
                 
            }
        }
        .navbarRight{
            display: flex;
            align-items: center;
            margin: 0 40px 0 0;
            .languages{
                display: flex;
                align-items: center;
                span{
                    margin: 0 0 0 3px;
                }
            }
            .profileAvatar{
                cursor: pointer;
                margin: 0 0 0 20px;
               
            }
        }
    }    
}